/node_modules
/oh_modules
/refresh
/global
/loading
/open-photo
/dialog
/network
/location
/map
/generator
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
